//desktop dimensions: 938 x 1078
//desktop main pic: 730 x 300
//desktop small pics: 230 x 160

//mobile dimensions: 399 x 1064
//mobile main pic: 320 x 150
//mobile small pics: 300 x 180
//mobile detail pic: 300 x 190


//top n bottom spaces: 75px
//header height: 70px

@import './partials/reset';
@import './partials/clearfix';
@import './partials/mixins';

//Variables
$dark-grey: #7C777B;
$medium-grey: #A4A4A5;
$light-grey: #C7C7C7;

.error-msg {
  color: red;
  list-style-type: none;
  padding: 0px;
}

body {
  margin: 0px;
  color: $medium-grey;

  @include respond-to('desktop') {
    padding: 0px 100px 0px 100px;
  }
}

.top-border {
  width: 100%;
  height: 40px;

  @include respond-to('desktop') {
    height: 75px;
    border-bottom: dotted 1px $medium-grey;
    margin-bottom: 10px;
  }
}

#header {
  text-align: center;
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
  // font-weight: bold;
  letter-spacing: 2px;
  font-size: 3rem;
  margin-bottom: 35px;

  @include respond-to('desktop') {
    font-size: 4rem;
    height: 70px;
    width: 60%;
    display: inline-block;
    border-right: 1px $light-grey solid;
  }
}

#header-info {
  display: none;

  @include respond-to('desktop') {
    height: 70px;
    width: 35%;
    display: inline-block;
    // float: right;
    color: $light-grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    margin-bottom: 85px;
  }
}

.author-form, .link-form, .description-form, .submit-form {
  border: 1px $light-grey solid;
}

.photos {
  margin: auto;
  height: 180px;
  width: 300px;
  // margin-bottom: 10px;
  // background-size: cover;
}

.photo-detail {
  margin: auto;
  height: 190px;
  width: 300px;
}

.photo-info {
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E5E5E5;
    margin-top: 15px;
    margin-bottom: 15px;
    // padding: 0;
    width: 80%;
}

.mobile-detail-box {
  margin: auto;
  width: 300px;
  height: 100%;
}