<div class="top-border"></div>

<div id="header">
  <h1>_ARCHITEKT</h1>
</div>

<div id="header-info">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut laaliqua. Ut enim ad minim veniam,
  quis nosalsdkfd kdls</p>
</div>

{{#each photos}}
<img src="{{link}}" alt=""> <br>
Author: {{author}} <br>
Description: {{description}} <br>
{{/each}}

<div class="bottom-border"></div>

