{{> nav}}

{{> header}}

<form id="forms" action="/gallery/newuser" method="post">
  <div>
    <label>username:</label><br>
    <input class="text-form" type="text" name="username" autocomplete="off" />
  </div>
  <div>
    <label>password:</label><br>
    <input class="text-form" type="password" name="password" autocomplete="off" />
  </div>
  <div>
    <label>confirm passord:</label><br>
    <input type="password" class="text-form" name="password2" autocomplete="off" />
  </div>
  <div>
    <input type="submit" value="Create User"/>
  </div>
</form>

<div id="photo-sidebar">
  {{#each photos}}
    <div class="small-photo-box">
      <a href="/gallery/{{id}}">
        <div class="photos" style="background:url({{link}}); background-size: cover; background-position: center;
        "></div>
      </a>
      <div class="author">
        Author: {{author}}
      </div>
    </div>
  {{/each}}
</div>

{{{messages}}}

<div id="bottom-border"></div>
