/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.error-msg {
  color: red;
  list-style-type: none;
  padding: 0px; }

body {
  margin: 0px;
  color: #A4A4A5; }
  @media only screen and (min-width: 938px) {
    body {
      padding: 0px 100px 0px 100px; } }

.top-border {
  width: 100%;
  height: 40px; }
  @media only screen and (min-width: 938px) {
    .top-border {
      height: 75px;
      border-bottom: dotted 1px #A4A4A5;
      margin-bottom: 10px; } }

#header {
  text-align: center;
  color: #7C777B;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 3rem;
  margin-bottom: 35px; }
  @media only screen and (min-width: 938px) {
    #header {
      font-size: 4rem;
      height: 70px;
      width: 60%;
      display: inline-block;
      border-right: 1px #C7C7C7 solid; } }

#header-info {
  display: none; }
  @media only screen and (min-width: 938px) {
    #header-info {
      height: 70px;
      width: 35%;
      display: inline-block;
      color: #C7C7C7;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.75rem;
      margin-bottom: 85px; } }

.author-form, .link-form, .description-form, .submit-form {
  border: 1px #C7C7C7 solid; }

.photos {
  margin: auto;
  height: 180px;
  width: 300px; }

.photo-detail {
  margin: auto;
  height: 190px;
  width: 300px; }

.photo-info {
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E5E5E5;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%; }

.mobile-detail-box {
  margin: auto;
  width: 300px;
  height: 100%; }
