.error-msg {
  margin-left: 20px;
  color: red;
  list-style-type: none;
  padding: 0px;
  display: inline-block;
}

.error {
  margin-left: 20px;
  color: red;
  list-style-type: none;
  padding: 0px;
}
