@import './partials/color-variables';

#header {
  text-align: center;
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 3rem;
  margin-bottom: 35px;

  @include respond-to('desktop') {
    font-size: 4rem;
    height: 70px;
    width: 55%;
    display: inline-block;
    border-right: 1px $light-grey solid;
  }
}

#header-info {
  display: none;

  @include respond-to('desktop') {
    height: 70px;
    width: 35%;
    display: inline-block;
    color: $light-grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    margin-bottom: 80px;
    padding-left: 10px;
  }
}
